* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

html[color-theme='dark']{
    --menu-background:#201f21;
    --main-background:#302e31;
    --theme-font-color:white;   
}

html[color-theme='light']{
    --menu-background:rgb(236, 236, 236);
    --main-background:white;   
    --theme-font-color:black;
}

.top_space{
    width:100%; 
    height:60px; 
    background-color:var(--menu-background);
    color:var(--theme-font-color);
    
}

a,a:visited {color:#f6edff;text-decoration: none;}

.logo_button{
    display: block;
    width:60px; 
    height:60px;
    line-height: 60px;
    border: none;
    cursor: pointer;
    text-align: center;
    display:inline-block;
    color:var(--theme-font-color) !important; 
    margin-right:10px;
}

/*background-color:#474747;*/
.body_contents{
    float:left;
    position:fixed;
    width:100%;
    height:100%;
    
}
.sidebar_menu{
    background-color:var(--menu-background);
    width:200px;
    height:100%;
    position:fixed;
    display:inline-block;
}

.main_contents{
    margin: 0 0 0 200px;
    padding: 20px;    
    position:fixed;
    width:100%;
    height:100%;
    background-color:var(--main-background);
    border-top:1px solid rgb(68, 68, 68);
}

.sidebar_button{
    width:200px;
    height:50px;
    display:block;
    box-sizing:border-box;
    text-align:center;
    line-height: 50px;
    color:var(--theme-font-color) !important;
    transition: all 0.2s;
}

.sidebar_button:hover{
    box-shadow: inset 200px 0 0 0.1px #555555; 
}

label {
    color:var(--theme-font-color);
}