* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

body:not(.loaded) #slider img{
    display:none;
}


html[color-theme='dark']{
    --menu-background:#201f21;
    --main-background:#302e31;
    --theme-font-color:white; 
}

html[color-theme='light']{
    --menu-background:rgb(236, 236, 236);
    --main-background:white;   
    --theme-font-color:black;
}

.top_space{
    width:100%; 
    height:60px; 
    background-color:var(--menu-background);
    color:var(--theme-font-color);
    
}

a,a:visited {color:#f6edff;text-decoration: none;}

.logo_button{
    display: block;
    width:60px; 
    height:60px;
    line-height: 60px;
    border: none;
    cursor: pointer;
    text-align: center;
    display:inline-block;
    color:var(--theme-font-color) !important; 
    margin-right:10px;
}

/*background-color:#474747;*/
.body_contents{
    float:left;
    position:fixed;
    width:100%;
    height:100%;
    
}
.sidebar_menu{
    background-color:var(--menu-background);
    width:200px;
    height:100%;
    position:fixed;
    display:inline-block;
}

.main_contents{
    margin: 0 0 0 200px;    
    padding: 20px;
    position:fixed;
    width:100%;
    height:100%;
    background-color:var(--main-background);
    border-top:1px solid rgb(68, 68, 68);
    
    
}

.top_button{
    width:30px;
    height:30px;
    display:block;
    float:right;
    cursor: pointer;
    margin:15px;
}

.top_button:hover{
    box-shadow: inset 200px 0 0 0.1px #555555; 
}

.friend_paper{
    display:block;
    width:100%;
    height:60px;
    line-height: 60px;
    float:left;
    cursor:pointer;
}
.friend_paper:hover{
    box-shadow: inset 200px 0 0 0.1px #555555;
    
}


.friend_profile{
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    width:30px;
    height:30px;
}

label {
    color:var(--theme-font-color);
}

.friends-dialog{
    fill: var(--theme-font-color);
}

.settings-icon{
    fill: var(--theme-font-color);
}

.friends-dialog:hover{
    box-shadow: inset 200px 0 0 0.1px #555555;
}

.gear-icon{
    fill: var(--theme-font-color);
    transform-origin:center;
}

canvas {
    z-index:1;
}
.omok_block{
    width:calc((100vh - 200px) / 14 * 0.97992);
    height:calc((100vh - 200px) / 14 * 0.97992);
    
    
}

html {
    height:100%;
}
.body_contents{
    height:100%;
    overflow: scroll;
}